.flex {
  display: flex;
}

.flex110 {
  flex: 1 1 0;
  margin: 0 12px;
}

.flex-col {
  flex-direction: column;
}

li {
  list-style: none;
}

body {
  background-image: url('./bg.jpg');
  color: white;
}

h1 {
  font-size: 36px;
  margin-left: 5%;
}

button {
  border: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
  font-size: 18px;
}

input {
  margin-bottom: 24px;
  font-size: 18px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.refresh {
  height: 24px;
  margin-left: 24px;
}

.header {
  align-items: center;
}

.bold {
  font-weight: 900;
}

.submit {
  width: 100px;
  margin: 0 0 0 auto;
  padding: 0;
}
